# Foundations of Data Science
## Homework 2

Student Name: Ashish Bansal

Student Netid: ab6995
***

### Part 1: Case study
- Read [this article](http://www.nytimes.com/2012/02/19/magazine/shopping-habits.html) in the New York Times.
- Use what we've learned in class and from the book to describe how one could set Target's problem up as a predictive modeling problem, such that they could have gotten the results that they did.  Formulate your solution as a proposed plan using our data science terminology.  Include aspects of the Data Science Workflow that you see as relevant to solving the problem.  Be precise but concise.

In this golden age of behavioral research, Target like almost every major retailer, from grocery chains to investment banks to the USPS, has a “predictive analytics” department devoted to understanding not just the consumers’ shopping list but also their personal habits, so as to more efficiently market to them.

Target wanted an answer to a simple question, “Is their customer pregnant, even if she doesn’t want them to know?”, since, new parents are retailer’s holy grail and even new parents’ habits are more flexible than at almost any other time in their adult lives as mentioned in the article. If they could identify the answer, target could earn a millions, which they eventually did. So earning money by targeting the to-be parents to buy baby products along with other primary households later was the business motivation behind this analysis. Target wanted to analyze the shopping patterns and habits of a pregnant customers and target them as potential buyer before any of its competitors got hold of them.

The first step that is needed to be taken before one could find a solution is create a dataset, in which one could find patterns in. From the article, it’s clear that birth records are public, and there are different datasets that Target can buy data about your ethnicity, job history, the magazines you read, if you’ve ever declared bankruptcy or got divorced, the year you bought (or lost) your house, where you went to college, what kinds of topics you talk about online,can be easily availed from the companies. This could act as one of the data sources.The main and the most valuable spruce would be customer data that they gather, containing information like, if customer uses a credit card or a coupon, or mail in a refund, or call the customer help line, or open an e-mail they sent to customer or visit their Web site. After cleaning and merging data from all these sources, they could have sliced just the data needed for predicting whether customer is pregnant or not for this the main target data would be of females. Like the data of just the female customers, containing features like the products bought by them, age, marital status are some of them. Training set could be female customers who have babies and finding which products did they buy during their pregnancy as the DOB of their baby would be easily available through the public records.

The target variable is whether the customer is pregnant or not. 

One, way could be of collecting all the buying items  and spliting the given data into two data sets which is training data (80%) and test data(20)% and TfidfTransformer can be used for training and test data which includes tokenizing and counting. Tokenize will give us the occurrences of the data in description after which we will get frequencies from the bag of words which are converted into tokens and it will give us the prediction of YES/NO.

Second, I would recommend the SVM (Support Vector Model) model here because given a set of training data, each marked for belonging to one of two categories (pregnant – Yes/No), a SVM training algorithm builds a model that assigns new examples into one category or the other, making it a non-probabilistic binary linear classifier.

### Part 2: Exploring data in the command line
For this part we will be using the data file located in `"data/advertising_events.csv"`. This file consists of records that pertain to some online advertising events on a given day. There are 4 comma separated columns in this order: `userid`, `timestamp`, `domain`, and `action`. These fields are of type `int` (continuous), `int` (continuous), `string`, and `int` (category) respectively. Answer the following questions using Linux/Unix bash commands. All questions can be answered in one line (sometimes, with pipes)! Some questions will have many possible solutions. Don't forget that in IPython notebooks you must prefix all bash commands with an exclamation point, i.e. `"!command arguments"`.

[Hints: You can experiment with whatever you want in the notebook and then delete things to construct your answer later.  You can also use ssh to use the actual bash shell on EC2 and then just paste your answers here. Recall that once you enter the "!" then filename completion should work.]

1\. How many records (lines) are in this file?

In [13]:
# Place your code here
! wc -l advertising_events.csv

   10341 advertising_events.csv

2\. How many unique users are in this file? (hint: consider the 'cut' command and use pipe operator '|')

In [14]:
# Place your code here
!awk -F ',' '{print $1}' advertising_events.csv | sort | uniq | wc -l

     732

3\. Rank all domains by the number of visits they received in descending order. (hint: consider the 'cut', 'uniq' and 'sort' commands and the pipe operator).

In [20]:
# Place your code here
!awk -F ',' '{print $3}' advertising_events.csv | sort | uniq -c | sort -r

3114 google.com
2092 facebook.com
1036 youtube.com
1034 yahoo.com
1022 baidu.com
 513 wikipedia.org
 511 amazon.com
 382 qq.com
 321 twitter.com
 316 taobao.com

4\. List all records for the user with user id 37. (hint: this can be done using 'grep')

In [125]:
# Place your code here
!awk -F, '$1 == 37' advertising_events.csv
#Runs fine on command line interface but is not showing the output here.
#second way 
!grep '^37,' advertising_events.csv

37,648061658,google.com,0
37,642479972,google.com,2
37,644493341,facebook.com,2
37,654941318,facebook.com,1
37,649979874,baidu.com,1
37,653061949,yahoo.com,1
37,655020469,google.com,3
37,640878012,amazon.com,0
37,659864136,youtube.com,1
37,640361378,yahoo.com,1
37,653862134,facebook.com,0
37,648828970,youtube.com,0

### Part 3: Dealing with data Pythonically

In [1]:
# You might find these packages useful. You may import any others you want!
import pandas as pd
import numpy as np

1\. Load the data set `"data/ads_dataset.tsv"` into a Python Pandas data frame called `ads`.

In [3]:
# Place your code here
ads = pd.read_csv('/Users/ashishbansal/Downloads/ads_dataset (3).tsv',sep='\t', header=0, names = ['isbuyer','buy_freq','visit_freq','buy_interval','sv_interval','expected_time_buy','expected_time_visit','last_buy','last_visit','multiple_buy','multiple_visit','uniq_urls','num_checkins','y_buy'])
ads

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,106,106,0,0,169,2130,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,72,72,0,0,154,1100,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,5,5,0,0,4,12,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,6,6,0,0,150,539,0
NaN,0,NaN,2,0.0,0.500000,0.0,-101.149300,101,101,0,1,103,362,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,42,42,0,0,17,35,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,42,42,0,0,42,110,0
NaN,0,NaN,2,0.0,29.791670,0.0,-106.188300,121,121,0,1,101,401,0
NaN,0,NaN,3,0.0,45.479170,0.0,-34.144730,64,64,0,1,100,298,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,13,13,0,0,53,247,0
NaN,1,1.0,2,0.0,0.958333,0.0,-20.671200,21,21,0,1,65,175,0
NaN,0,NaN,2,0.0,21.333330,0.0,-108.323000,118,118,0,1,163,891,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,151,151,0,0,24,198,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,19,19,0,0,16,48,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,81,81,0,0,32,177,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,68,68,0,0,64,305,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,36,36,0,0,76,163,0
NaN,0,NaN,2,0.0,15.958330,0.0,-6.683471,14,14,0,1,101,1105,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,19,19,0,0,30,76,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,70,70,0,0,168,1317,0
NaN,0,NaN,2,0.0,27.250000,0.0,-124.610000,138,138,0,1,172,828,0
NaN,0,NaN,2,0.0,133.125000,0.0,50.474090,16,16,0,1,67,396,0
NaN,0,NaN,3,0.0,8.395833,0.0,2.534722,3,3,0,1,146,398,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,9,9,0,0,-1,26,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,145,145,0,0,179,1215,0
NaN,0,NaN,8,0.0,15.994050,0.0,12.569260,1,1,0,1,64,167,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,39,39,0,0,165,3883,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,34,34,0,0,96,219,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,135,135,0,0,143,1011,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,77,77,0,0,81,219,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,6,6,0,0,0,182,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,44,44,0,0,84,139,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,85,85,0,0,169,276,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,49,49,0,0,18,45,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,30,30,0,0,53,506,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,10,10,0,0,109,1131,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,77,77,0,0,11,38,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,14,14,0,0,9,87,0
NaN,0,NaN,3,0.0,28.229170,0.0,-7.932672,26,26,0,1,162,1178,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,48,48,0,0,39,139,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,38,38,0,0,26,117,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,70,70,0,0,171,506,0
NaN,0,NaN,2,0.0,8.541667,0.0,-14.237070,18,18,0,1,-1,3,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,71,71,0,0,63,254,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,185,185,0,0,184,1358,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,95,95,0,0,164,2462,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,134,134,0,0,174,499,0
NaN,0,NaN,10,0.0,7.101852,0.0,3.137754,3,3,0,1,103,255,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,109,109,0,0,143,808,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,57,57,0,0,164,1912,0
NaN,0,NaN,2,0.0,131.083300,0.0,34.678500,30,30,0,1,30,214,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,181,181,0,0,22,125,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,69,69,0,0,95,187,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,119,119,0,0,103,1338,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,37,37,0,0,1,22,0
NaN,0,NaN,3,0.0,30.979170,0.0,12.621240,8,8,0,1,168,2080,0
NaN,0,NaN,2,0.0,1.041667,0.0,-0.916713,1,1,0,1,1,15,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,20,20,0,0,132,556,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,180,180,0,0,71,400,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,185,185,0,0,77,401,0

2\. Write a Python function called `getDfSummary()` that does the following:
- Takes as input a data frame
- For each variable in the data frame calculates the following features:
  - `number_nan` to count the number of missing not-a-number values
  - Ignoring missing, NA, and Null values:
    - `number_distinct` to count the number of distinct values a variable can take on
    - `mean`, `max`, `min`, `std` (standard deviation), and `25%`, `50%`, `75%` to correspond to the appropriate percentiles
- All of these new features should be loaded in a new data frame. Each row of the data frame should be a variable from the input data frame, and the columns should be the new summary features.
- Returns this new data frame containing all of the summary information

Hint: The pandas `describe()` [(manual page)](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html) method returns a useful series of values that can be used here.

In [6]:
def getDfSummary(input_data):
    #Initialize the lists to store the computed data
    ads = input_data
    attribute_name = [] #For storing all names 
    number_nan = [] #number of missing not-a-number values
    number_distinct = [] #number of distinct values
    mean = []  #mean
    max_num = [] #max
    min_num = [] #min
    std_dev = [] #std
    quantile25 = []#25% percentile
    quantile50 = []#50% percentile
    quantile75 = []#75% percentile
    #just filling out NAN with '0' for calculating percentile part as it was showing me runtime warning 
    ads1 = input_data.fillna(0)
    
    #For looping through the columns of data frame 
    for column in input_data.columns:
        attribute_name.append(column)
        number_nan.append(input_data[column].isnull().sum())
        number_distinct.append(input_data[column].nunique())
        mean.append(input_data[column].mean())
        max_num.append(input_data[column].max())
        min_num.append(input_data[column].min())
        std_dev.append(input_data[column].std())
        quantile25.append(input_data[column].quantile(0.25))#quantile25
        quantile50.append(input_data[column].quantile(0.50))#quantile50
        quantile75.append(input_data[column].quantile(0.75))#quantile75
    
    #Create output data frame and reaaranging the data according to answer
    output_data = pd.DataFrame({"variable":attribute_name,"number_nan":number_nan, "number_distinct":number_distinct, "mean":mean, "max":max_num, "min":min_num, "std":std_dev, "25%":quantile25, "50%":quantile50, "75%":quantile75})
    output_data = output_data[['variable', 'number_nan', 'number_distinct', 'mean', 'max', 'min', 'std', '25%', '50%', '75%']]
        
    return output_data
#Calling
getDfSummary(ads)

,variable,number_nan,number_distinct,mean,max,min,std,25%,50%,75%
0,isbuyer,0,2,0.042632,1.00000,0.0000,0.202027,0.0,0.0,0.000000
1,buy_freq,52257,10,1.240653,15.00000,1.0000,0.782228,1.0,1.0,1.000000
2,visit_freq,0,64,1.852777,84.00000,0.0000,2.921820,1.0,1.0,2.000000
3,buy_interval,0,295,0.210008,174.62500,0.0000,3.922016,0.0,0.0,0.000000
4,sv_interval,0,5886,5.825610,184.91670,0.0000,17.595442,0.0,0.0,0.104167
5,expected_time_buy,0,348,-0.198040,84.28571,-181.9238,4.997792,0.0,0.0,0.000000
6,expected_time_visit,0,15135,-10.210786,91.40192,-187.6156,31.879722,0.0,0.0,0.000000
7,last_buy,0,189,64.729335,188.00000,0.0000,53.476658,18.0,51.0,105.000000
8,last_visit,0,189,64.729335,188.00000,0.0000,53.476658,18.0,51.0,105.000000
9,multiple_buy,0,2,0.006357,1.00000,0.0000,0.079479,0.0,0.0,0.000000
10,multiple_visit,0,2,0.277444,1.00000,0.0000,0.447742,0.0,0.0,1.000000
11,uniq_urls,0,207,86.569343,206.00000,-1.0000,61.969765,30.0,75.0,155.000000
12,num_checkins,0,4628,720.657592,37091.00000,1.0000,1275.727306,127.0,319.0,802.000000
13,y_buy,0,2,0.004635,1.00000,0.0000,0.067924,0.0,0.0,0.000000

3\. How long does it take for your `getDfSummary()` function to work on your `ads` data frame? Show us the results below.

Hint: `%timeit getDfSummary(ads)`

In [7]:
# Place your code here
%timeit getDfSummary(ads)

10 loops, best of 3: 55.2 ms per loop

4\. Using the results returned from `getDfSummary()`, which fields, if any, contain missing `NaN` values?

In [8]:
# Place your code here
ads1 = getDfSummary(ads)
i = 0
nan_frames = [] #for nan_values
var_values = ads1['variable'].tolist()
nan_values = ads1['number_nan'].tolist()


for nan_value in nan_values:
    if nan_value > 0:
        nan_frames.append(var_values[i])
    i = i + 1
    
print('The fields containing missing NaN values : ', nan_frames)

The fields containing missing NaN values :  ['buy_freq']

5\. For the fields with missing values, does it look like the data is missing at random? Are there any other fields that correlate perfectly, or predict that the data is missing? What would be an appropriate method for filling in missing values?

Hint: create another data frame that has just the records with a missing value. Get a summary of this data frame using `getDfSummary()` and compare the differences. Do some feature distributions change dramatically?

In [9]:
# Place your code and response here
ads2 = ads
ads2 = ads2[ads2.isnull().any(axis = 1)]
ads2_summary = getDfSummary(ads2)
ads2_summary

,variable,number_nan,number_distinct,mean,max,min,std,25%,50%,75%
0,isbuyer,0,1,0.000000,0.00000,0.0000,0.000000,0.0,0.0,0.000000
1,buy_freq,52257,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,visit_freq,0,48,1.651549,84.00000,1.0000,2.147955,1.0,1.0,2.000000
3,buy_interval,0,1,0.000000,0.00000,0.0000,0.000000,0.0,0.0,0.000000
4,sv_interval,0,5112,5.686388,184.91670,0.0000,17.623555,0.0,0.0,0.041667
5,expected_time_buy,0,1,0.000000,0.00000,0.0000,0.000000,0.0,0.0,0.000000
6,expected_time_visit,0,13351,-9.669298,91.40192,-187.6156,31.239030,0.0,0.0,0.000000
7,last_buy,0,189,65.741317,188.00000,0.0000,53.484622,19.0,52.0,106.000000
8,last_visit,0,189,65.741317,188.00000,0.0000,53.484622,19.0,52.0,106.000000
9,multiple_buy,0,1,0.000000,0.00000,0.0000,0.000000,0.0,0.0,0.000000
10,multiple_visit,0,2,0.255602,1.00000,0.0000,0.436203,0.0,0.0,1.000000
11,uniq_urls,0,207,86.656180,206.00000,-1.0000,61.996711,30.0,75.0,155.000000
12,num_checkins,0,4570,721.848518,37091.00000,1.0000,1284.504018,126.0,318.0,803.000000
13,y_buy,0,2,0.003024,1.00000,0.0000,0.054904,0.0,0.0,0.000000

As we can see through comparisions that many field values got change if we just take the record of the misiing value and the pattern we can see is that number_distinct changes for two variables: isbuyer & multiple_buy where both are in binary in original dataset. isbuyer consists of 0 and 1 which means buyer bought something or didn't bought anything and if isbuyer is 0 then the value for buy_freq is NAN else its other than NAN such as 1 therefore, they are corelated.

We can either classify missing values as a separate category that can be analyzed with the other categories or use a built decision tree model which set the variable with lots of missing value as a target variable to make prediction and replace these missing ones with the predicted value.

6\. Which variables are binary?

In [10]:
# Place your code here
ads2 = getDfSummary(ads)
i=0
binary_variables = []
distinct_values = ads2['number_distinct'].tolist()
variable_values = ads2['variable'].tolist()

for value in distinct_values:
    if value == 2:
        binary_variables.append(variable_values[i])
    i = i + 1
print(binary_variables)

['isbuyer', 'multiple_buy', 'multiple_visit', 'y_buy']